@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    height: 100vh;
    background: #161616;
}

#root {
    height: 100%;
}

button {
    color: white;
}
